$primary-color : palevioletred;
$secondary-color : #fff;
$tertiary-color : #000;
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./font/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "questrial";
    src: url("./font/Questrial-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    flex-wrap: nowrap;
    justify-content: space-between;
    .container-logo{
        height: 100%;
        display: flex;
        width: 372px;
        justify-content: center;
        align-items: center;
        span{
            font-family: 'Montserrat-Medium';
        }
    }
    .container-list-links{
        ul{
            margin-right: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 500px;
            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #000;
                align-items: center;
                display: flex;
                li{
                    font-family: 'Montserrat-Medium';
                    text-align: center;
                    vertical-align: middle;
                    height: 20px;
                    width: 100%;
                    padding: 10px;
                    display: inline-block;
                }
            }
            a:active, a:focus{
                background-color: red;
                color: $secondary-color;
            }
            a:hover{
                background-color: rgba(red, .5);
            }
        }
    }
}
.bg-pink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    width: 100%;
    height: 500px;
    align-items: center;
    .content-bg
    h1,p {
        letter-spacing: 5px;

        color: $secondary-color;
        margin: 20px 0;
        font-family: 'Montserrat-Medium';
    }
    button{
        font-family: 'Montserrat-Medium';
        cursor: pointer;
        border: 0;
        background-color: $secondary-color;
        color: $primary-color;
        height: 40px;
        width: 200px;
    }
}
.container-body{
    width: 100%;
    height: auto;
    .container-icons{
    display: flex;
    justify-content: center;
    margin: 20px 0;
        i{
            color: $primary-color;
            padding: 30px;
        }
    }
    .container-photos{
        padding: 0 30px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        .container-img{
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}
.show-more{
    display: flex;
    justify-content: center;
    button{
        background-color: $primary-color;
        color: $secondary-color;
        width: 177px !important;
        height: 54px;
        font-family: 'Montserrat-Medium';
    }
}
footer{
    margin: auto;
    display: flex;
    background-color: $secondary-color;
    height: auto;
    width: 100%;
    flex: auto;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    .derechos-reservador{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        color: grey;
        b{
            font-family: 'Montserrat-Medium';
            color: $primary-color;
        }
    }
    .container-rs-footer{
        padding: 23px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        li{
            font-family: 'Montserrat-Medium';
            display: inline-block;
            padding: 0 10px;
            color: grey;
        }
    }
}