$primary-color : palevioletred;
$secondary-color : #fff;
$tertiary-color : #000;
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./font/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "questrial";
    src: url("./font/Questrial-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    flex-wrap: nowrap;
    justify-content: space-between;
    .container-logo{
        height: 100%;
        display: flex;
        width: 372px;
        justify-content: center;
        align-items: center;
        span{
            margin-left: 10px;
            font-size: 12px;
            font-family: 'Montserrat-Medium';
        }
    }
    .menu-mobile-icon{
        display: none;
    }
    .container-list-links{
        ul{
            margin-right: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 500px;
            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #000;
                align-items: center;
                display: flex;
                li{
                    font-family: 'Montserrat-Medium';
                    text-align: center;
                    vertical-align: middle;
                    height: 20px;
                    width: 100%;
                    padding: 10px;
                    display: inline-block;
                }
            }
            a:active, a:focus li{
                background-color: $primary-color;
                color: $secondary-color;
            }
            a:hover li{
                background-color: rgba($primary-color, .5);
            }
        }
    }
}
.menu-lateral{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    display: none;
    .btn-close-drawer{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 50px;
        color: $secondary-color;
    }
    a{
        text-decoration: none;
        li{
            color: $secondary-color;
            margin: 30px 0;
            text-align: center;
            font-size: 50px;
            list-style: none;
        }
    }
}
.bg-pink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    width: 100%;
    height: 500px;
    align-items: center;
    .content-bg
    h1,p {
        letter-spacing: 5px;
        color: $secondary-color;
        margin: 20px 0;
        font-family: 'Montserrat-Medium';
    }
    button{
        font-family: 'Montserrat-Medium';
        cursor: pointer;
        border: 0;
        background-color: $secondary-color;
        color: $primary-color;
        height: 40px;
        width: 200px;
    }
}
.container-body{
    width: 100%;
    height: auto;
    .container-icons{
    display: flex;
    justify-content: center;
    margin: 20px 0;
        i{
            cursor: pointer;
            font-size: 30px;
            color: $primary-color;
            padding: 30px;
        }
    }
    .container-photos{
        padding: 0 100px;
        display: flex;
        flex-wrap: wrap;
        .container-img{
            flex: 30%;
            margin: 10px;
            position: relative;
            .container-icons-img{
                position: relative;
                margin: 10px 0;
            }
            .container-icons-img:hover button{
                display: block;
            }
            .container-icons-img:hover button:hover{
                color: #000;
            }
            img{
                width: 100%;
            }
            button{
                display: none;
                position: absolute;
                width: 50px;
                height: 32px;
                text-align: center;
                color: grey;
            }
            .add-tofavorite{
                top: 5px;
                right: 75px;
            }
            .add-to-collection{
                top: 5px;
                right: 5px;
            }
            .download{
                bottom: 5px;
                right: 5px;
            }
        }
    }
}
.show-more{
    display: flex;
    justify-content: center;
    button{
        background-color: $primary-color;
        color: $secondary-color;
        width: 177px !important;
        height: 54px;
        font-family: 'Montserrat-Medium';
    }
}
footer{
    margin: auto;
    display: flex;
    background-color: $secondary-color;
    height: auto;
    width: 100%;
    flex: auto;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    .derechos-reservador{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        color: grey;
        b{
            font-family: 'Montserrat-Medium';
            color: $primary-color;
        }
    }
    .container-rs-footer{
        padding: 23px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        li{
            font-family: 'Montserrat-Medium';
            display: inline-block;
            padding: 0 10px;
            color: grey;
        }
    }
}
@media screen and (max-width: 900px ) {
    .container-list-links{
        display: none;
    }
    .menu-mobile-icon{
        display: flex !important;
        width: 200px;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
        font-size: 40px;
        font-family: 'questrial';
    }
    .container-body{
        .container-photos{
            padding: 0 ;
            .container-img{
                flex: 45%;
            }
        }
    }
}
@media screen and (max-width: 500px ) {
    .bg-pink{
        height: 300px;
        .content-bg h1{
            font-size: 12px;
        }
        .content-bg p{
            font-size: 9px;
            padding: 0px 50px;
        }
    }
    .container-icons{
        display: none !important;
    }
    .container-body{
        .container-photos{
            padding: 0 ;
            .container-img{
                flex: 100%;
            }
        }
    }
}
@media screen and (max-width: 350px ) {
    header{
        height: 50px;
        .container-logo svg{
            height: 20px;
        }
        .container-logo span{
            font-size: 10px;
        }
        .menu-mobile-icon i{
            font-size: 20px;
        }
    }
    .bg-pink{
        height: 300px;
        .content-bg h1{
            font-size: 12px;
        }
        .content-bg p{
            font-size: 9px;
            padding: 0 20px;
        }
    }
    .menu-lateral a li{
        font-size: 20px;
    }
}