@font-face {
  font-family: "Montserrat-Medium";
  src: url("./font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "questrial";
  src: url("./font/Questrial-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 372px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-logo span {
  margin-left: 10px;
  font-size: 12px;
  font-family: 'Montserrat-Medium';
}

header .menu-mobile-icon {
  display: none;
}

header .container-list-links ul {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 500px;
}

header .container-list-links ul a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container-list-links ul a li {
  font-family: 'Montserrat-Medium';
  text-align: center;
  vertical-align: middle;
  height: 20px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

header .container-list-links ul a:active, header .container-list-links ul a:focus li {
  background-color: palevioletred;
  color: #fff;
}

header .container-list-links ul a:hover li {
  background-color: rgba(219, 112, 147, 0.5);
}

.menu-lateral {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: palevioletred;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu-lateral .btn-close-drawer {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 50px;
  color: #fff;
}

.menu-lateral a {
  text-decoration: none;
}

.menu-lateral a li {
  color: #fff;
  margin: 30px 0;
  text-align: center;
  font-size: 50px;
  list-style: none;
}

.bg-pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: palevioletred;
  width: 100%;
  height: 500px;
  align-items: center;
}

.bg-pink .content-bg
h1, .bg-pink p {
  letter-spacing: 5px;
  color: #fff;
  margin: 20px 0;
  font-family: 'Montserrat-Medium';
}

.bg-pink button {
  font-family: 'Montserrat-Medium';
  cursor: pointer;
  border: 0;
  background-color: #fff;
  color: palevioletred;
  height: 40px;
  width: 200px;
}

.container-body {
  width: 100%;
  height: auto;
}

.container-body .container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.container-body .container-icons i {
  cursor: pointer;
  font-size: 30px;
  color: palevioletred;
  padding: 30px;
}

.container-body .container-photos {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-body .container-photos .container-img {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin: 10px;
  position: relative;
}

.container-body .container-photos .container-img .container-icons-img {
  position: relative;
  margin: 10px 0;
}

.container-body .container-photos .container-img .container-icons-img:hover button {
  display: block;
}

.container-body .container-photos .container-img .container-icons-img:hover button:hover {
  color: #000;
}

.container-body .container-photos .container-img img {
  width: 100%;
}

.container-body .container-photos .container-img button {
  display: none;
  position: absolute;
  width: 50px;
  height: 32px;
  text-align: center;
  color: grey;
}

.container-body .container-photos .container-img .add-tofavorite {
  top: 5px;
  right: 75px;
}

.container-body .container-photos .container-img .add-to-collection {
  top: 5px;
  right: 5px;
}

.container-body .container-photos .container-img .download {
  bottom: 5px;
  right: 5px;
}

.show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-more button {
  background-color: palevioletred;
  color: #fff;
  width: 177px !important;
  height: 54px;
  font-family: 'Montserrat-Medium';
}

footer {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  height: auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .derechos-reservador {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
}

footer .derechos-reservador b {
  font-family: 'Montserrat-Medium';
  color: palevioletred;
}

footer .container-rs-footer {
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .container-rs-footer li {
  font-family: 'Montserrat-Medium';
  display: inline-block;
  padding: 0 10px;
  color: grey;
}

@media screen and (max-width: 900px) {
  .container-list-links {
    display: none;
  }
  .menu-mobile-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 200px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    font-size: 40px;
  }
  .container-body .container-photos {
    padding: 0;
  }
  .container-body .container-photos .container-img {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
  }
}

@media screen and (max-width: 500px) {
  .container-icons {
    display: none !important;
  }
  .container-body .container-photos {
    padding: 0;
  }
  .container-body .container-photos .container-img {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
/*# sourceMappingURL=index.css.map */